*{
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    padding: 1.3rem;
    background-color:#f5f5f5;
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Lilita One', cursive;
}

.divPadreCrypto{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem;
}

.divPadreCrypto select , input{
    background-color: white;
    border: 1px solid black;
    padding: .4rem;
}

.divPadreCrypto p{
    font-size: 2rem;
    margin-bottom: 1rem;
}


/* Tabla */


.tablaConte{
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color:#f5f5f5 ;
}

.trrrrr{
    margin-left: 1rem;
    margin-right: 100rem;
}

th {
    padding: 10px;
    background-color: #ddd;
    border: 1px solid black;
}

td{
    background-color: azure;
    border: 1px solid black;
}
.btn{
    color: #0062cc;
    border-radius: .2rem;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 2px solid #007bff;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: white;
    margin-bottom: 2rem;
}

.btn:hover {
    color: #ffffff;
    background-color: #0069d9;
    border-color: #0062cc;
  }

.bton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.btn-outline-info {
    --bs-btn-color: #0dcaf0;
    --bs-btn-border-color: #0dcaf0;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #0dcaf0;
    --bs-btn-hover-border-color: #0dcaf0;
    --bs-btn-focus-shadow-rgb: 13, 202, 240;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #0dcaf0;
    --bs-btn-active-border-color: #0dcaf0;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0dcaf0;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0dcaf0;
    --bs-gradient: none;
}

tbody tr {
    text-align: center;
    padding: 1rem;
}

.danger{
    --bs-btn-color: #820d0d;
    --bs-btn-border-color: #820d0d;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #820d0d;
    --bs-btn-hover-border-color: #820d0d;
    --bs-btn-focus-shadow-rgb: 13, 202, 240;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #820d0d;
    --bs-btn-active-border-color: #820d0d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #820d0d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #820d0d;
    --bs-gradient: none;
}

.boton{
    background-color: white;
    border: 2px solid red;
    padding: .7rem;
    color: red;
    cursor: pointer;
    font-size: 1rem;
    border-radius: .3rem;
}

.padreButo{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton:hover{
    background-color: red;
    color: white;
}

